<div class="list-group">

  <div *ngIf="!cartService.getItems().length">Your cart is empty!</div>

  <a *ngFor="let listItem of cartService.getItems()" (click)="onBookSelect(listItem.book)" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="container">
      <div class="row">

        <div class="col col-lg-1 pl-0 pr-1">
          <img src="{{ listItem.book.smallThumbnail }}" onerror="this.src='../../../../../assets/empty-cover.png'"
            height="100px">
        </div>

        <div class="col col-lg-9">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ listItem.book.title }}</h5>
          </div>
          <div>
            <span *ngFor="let author of listItem.book.authors" class="badge badge-secondary mr-1">{{ author }}</span>
          </div>
          <div *ngFor="let category of listItem.book.categories">
            <small class="text-muted mr-2">{{ category }}</small>
          </div>
        </div>

        <div class="col col-lg-2">
          <span class="text-right">
            <span>quantity: </span>
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-primary btn-sm" (click)="onRemoveBook(listItem.book, $event)">-</button>
              <button type="button" class="btn btn-primary btn-sm disabled">{{ listItem.quantity }}</button>
              <button type="button" class="btn btn-primary btn-sm" (click)="onAddBook(listItem.book, $event)">+</button>
            </div>
          </span>
        </div>

      </div>
    </div>
  </a>

</div>

<app-book-details-modal></app-book-details-modal>