<form class="input-group mb-3">
  <input type="text" class="form-control" name="searchInput" placeholder="Search for book title here!" [(ngModel)]="searchInput">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit" (click)="onSearchBtn()">Search</button>
  </div>
</form>