<nav class="navbar navbar-expand sticky-top navbar-light bg-light">
  <div class="nav navbar-nav">
    <a class="navbar-brand">Google Books webshop</a>
    <a class="nav-item nav-link" (click)="onPageSelect(pageType.SEARCH)" href="#">Search</a>
    <a class="nav-item nav-link" (click)="onPageSelect(pageType.CART)" href="#">Cart
      <span class="badge badge-primary badge-pill">{{ cartService.getTotalItemsQuantity() }}</span>
    </a>
  </div>
</nav>