<div class="list-group">

  <div *ngIf="searchService.isLoading(); else bookList" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
  </div>

  <ng-template #bookList>
    <a *ngFor="let book of searchService.getBooks()" (click)="onBookSelect(book)" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="container">
        <div class="row">

          <div class="col col-lg-1 pl-0 pr-1">
            <img src="{{ book.smallThumbnail }}" onerror="this.src='../../../../../assets/empty-cover.png'" height="100px">
          </div>

          <div class="col col-lg-11">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ book.title }}</h5>
            </div>
            <div>
              <span *ngFor="let author of book.authors" class="badge badge-secondary mr-1">{{ author }}</span>
            </div>
            <div *ngFor="let category of book.categories">
              <small class="text-muted mr-2">{{ category }}</small>
            </div>
          </div>

        </div>
      </div>
    </a>
  </ng-template>

</div>

<app-book-details-modal></app-book-details-modal>