<ul *ngIf="pages?.length" class="pagination">
  <li class="page-item" [class.disabled]="currentPage === 1">
    <a class="page-link" (click)="setPage(1)">First</a></li>
  <li class="page-item" [class.disabled]="currentPage === 1">
    <a class="page-link" (click)="setPage(currentPage - 1)">Previous</a></li>
  <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage === page">
    <a class="page-link" (click)="setPage(page)">{{ page }}</a></li>
  <li class="page-item" [class.disabled]="totalPages === currentPage">
    <a class="page-link" (click)="setPage(currentPage + 1)">Next</a></li>
  <li class="page-item" [class.disabled]="totalPages === currentPage">
    <a class="page-link" (click)="setPage(totalPages)">Last</a></li>
</ul>