<app-header (pageSelectedEvent)="setPage($event)"></app-header>
<div class="container p-3">
  <app-search *ngIf="selectedPage === pageType.SEARCH"></app-search>
  <app-cart *ngIf="selectedPage === pageType.CART"></app-cart>
</div>