<div class="container">
  <div class="row">
    <div class="col">
      <app-search-input></app-search-input>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p *ngIf="searchService.getBooks()">Results: {{ searchService.getTotalItems() }}</p>
      <app-search-pager></app-search-pager>
      <app-search-list></app-search-list>
    </div>
  </div>
</div>