<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#bookDetailsModal">Open Modal</button>

<div class="modal fade" id="bookDetailsModal" tabindex="-1" role="dialog" aria-labelledby="bookDetailsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="bookDetailsModalLabel">{{ book?.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <img class="mb-2" src="{{ book?.smallThumbnail }}" onerror="this.src='../../../../../assets/empty-cover.png'"
          height="200px">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Authors</th>
              <td>{{ book?.authors?.join(', ') }}</td>
            </tr>
            <tr>
              <th>Categories</th>
              <td>{{ book?.categories?.join(', ') }}</td>
            </tr>
            <tr>
              <th>Page count</th>
              <td>{{ book?.pageCount }}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{ book?.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="showAddToCartFooter" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onAddToCart(book)" data-dismiss="modal">Add to cart!</button>
      </div>

    </div>
  </div>
</div>